/* ustawic zeby pilka nie zmniejszala borderow w kwadracie */

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

h1 {
  position: absolute;
  top: 10px;
  left: 20px;
}

.menu {
  position: absolute;
  top: 80px;
  left: 20px;
  height: 200px;
  width: 150px;
}

.start {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-family: arial;
  text-transform: uppercase;
  font-size: 22px;
  padding: 5px;
  background-color: grey;
  color: white;
  border: solid black 2px;

}

.score {
  position: absolute;
  top: 70px;
  left: 5px;
  text-align: center;
}

p {
  margin: 10px;
  text-transform: uppercase;
}

.board {
  position: absolute;
  top: 80px;
  left: 200px;
  border: 3px solid black;
}

.cell {
  height: 40px;
  width: 40px;
  position: absolute;
  /* border: solid black 1px; */
  background-color: white;
}

.active,
.paddle {
  background-color: black;
}

.ball {
  border-radius: 50%;
  background-color: black;
}