/* ustawic zeby pilka nie zmniejszala borderow w kwadracie */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.board {
  position: relative;
  height: 320px;
  width: 400px;
  margin: 20px auto 0;
  border: 1px solid black;
}

.cell {
  height: 32px;
  width: 40px;
  position: absolute;
  border: solid black 1px;
  background-color: white;
}

.active,
.paddle {
  background-color: black;
}

.ball {
  border-radius: 50%;
  background-color: black;
}